body {
  background-color: #ccf2f4;
  margin: 0;
}

.fontsetting {

  font-family: 'Stick', sans-serif;
}



label {

  display: block;
  margin-bottom: 5px;
}

input{
  display: block;
  background-color: #fbaccc;
}

textarea{
  background-color: #fbaccc;
  margin-bottom: 5px;
}

.button{

  background-color: #51c2d5;
}
h1{

  margin-top: 35px;
  padding: 0;

}


p{
  margin: 30px;
  font-family: 'Stick', sans-serif;

}

h3{
  margin: 30px;
  border: 0;
  padding: 10px;
}

hr {
  border-width: 8px 0 0 0;
  border-style: dotted;


}

div{
  display: inline-block;
  position: relative;
  width: 100%;

}

.toppara{

  display: inline-block;
  position: absolute;
  right: 50px;
  top: 50px;

}



audio {

  display: inline-block;
  position: absolute;
  right: 30px;
  top: 20px;

}
